---
title: Mike Lyons
layout: home
is_home: true
---

<div id="image_area"></div>
<div id="content_area">
    <div class="full_width">

        <div class="column left two_thirds_width">
            <h2 class="colorchanger">Recent Posts</h2>

            {% assign recent_posts = site.posts | sort: 'date' | reverse %}
            {% for recent_post in recent_posts | limit:6 %}
                {% if recent_post.tags contains 'Complicated-Tutorial' %}
                {% else %}
                    {% include post_description.html post=recent_post %}
                {% endif %}
            {% endfor %}

            <h3 class="more_info_link"><a style="font-size:16px" href="/posts.html">See More Posts</a></h3>
            <div class="clear"></div>
        </div>
        <div class="column right one_third_width">
            <h2 class="colorchanger">About Me</h2>
            <div class="column_post">
                <b>My name is Mike Lyons</b>, and I am a Software Engineer / Entrepreneur living in San Francisco. I love working with smart people to solve hard problems.
                <br/><br/>
                <a style="color: black;" href="https://resume.mikelyons.org/">Click Here to view my Resume</a>
            </div>
            <div class="column_spacer"></div>
            <h2 class="colorchanger">Let's Get Coffee</h2>
            I would love to buy you coffee, whoever you are, just as long as you are willing to have a conversation with me about whatever random thing is on my mind. Reach out, you won't be sorry.<br/>
            <br/>
            <div class="recent_post social_media">
                <div><a href="mailto:mdl0394@gmail.com"><b><span class="social_media_link">Email:</span></b></a> The fastest way to contact me</div>
                <div><a href="https://www.linkedin.com/profile/view?id=219693399"><b><span class="social_media_link">LinkedIn:</span></b></a> Professional listing page</div>
                <div><a href="https://github.com/frenchie4111"><b><span class="social_media_link">Github:</span></b></a> A majority of my projects</div>
            </div>
            <div class="clear"></div>
        </div>

    </div>
</div>
