---
layout: home
is_home: true
---

<div id="image_area"></div>
<div id="content_area">
    <div class="full_width">

        <div class="column left two_thirds_width">
            <h2 class="colorchanger">Recent Posts</h2>

            {% assign recent_posts = site.posts | sort: 'date' | reverse %}
            {% for recent_post in recent_posts | limit:20 %}
                {% if recent_post.tags contains 'Complicated-Tutorial' %}
                {% else %}
                    {% include post_description.html post=recent_post %}
                {% endif %}
            {% endfor %}

            <h3 class="more_info_link"><a style="font-size:16px" href="/posts.html">See More Posts</a></h3>
            <div class="clear"></div>
        </div>
        <div class="column right one_third_width">
            <script type="text/javascript">
                $(document).ready(function() {
                    $.getJSON("http://ws.audioscrobbler.com/2.0/?method=user.getRecentTracks&user=frenchie4111&api_key=bb42b99d33e6bc82308592e207143dba&limit=2&format=json&callback=?", function(data) {
                        var html = '<h2 class="colorchanger">Currently Listening</h2>';
                        $.each(data.recenttracks.track, function(i, item) {
                            html += '<div class="music-row">';
                            html += '<img src="' + item.image[1]["#text"] + '">';
                            html += '<div><a href="' + item.url + '" target="_blank">' + item.name + '</a> - ' + item.artist['#text'] + '</div></div>';
                        });
                        $('.listening-to').append(html);
                    });
                });
            </script>
            <img id="listening-to-img" />
            <div class="listening-to"></div>
            <h2 class="colorchanger">Get Started</h2>
            <p><b>My name is Mike Lyons</b>, and I am a Engineer / Entrepreneur living in the SF Bay Area. I love working with smart people to solve hard problems. I've worked at several startups in the bay area, my main area of focus is bridging the gap between hardware and software products. I've worked on Backend systems for hardware, Embedded Software, and Edge Machine Learning algorithms and pipelines. I am open for consulting, if you are interested shoot me an email at: mdl0394@gmail.com</p>
            <h2>Projects</h2>
            Here are my current shipping projects. I'd love if you'd check them out and let me know what you think.
            <h3><a href="/caffstat_beta">Caffstat (Beta)</a></h3> A hackable home thermostat integrated with Home Assistant, Apple HomeKit and Google Home.
            <h3><a href="/complicated/">Complicated</a></h3> An iOS / Watch OS app that makes it easy to build custom integrations with your watch
            <h2 class="colorchanger">Let's Get Coffee</h2>
            I would love to buy you coffee, whoever you are, just as long as you are willing to have a conversation with me about whatever random thing is on my mind. Reach out, you won't be sorry.<br/>
            <h2>Links</h2>
            <div class="social_media">
                <p><b><a href="mailto:mdl0394@gmail.com">Email</a></b></p>
                <p><b><a href="https://resume.mikelyons.org">Resume</a></b></p>
                <p><b><a href="https://github.com/frenchie4111">GitHub</a></b></p>
            </div>
        </div>
    </div>
</div>

