<h2 class="colorchanger">Books</h2>
<h3 class="colorchanger">Currently Reading</h3>

      <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <style type="text/css" media="screen">
        .gr_custom_container_1739128651 {
          /* customize your Goodreads widget container here*/
          border: 0px solid gray;
          border-radius:10px;
          padding: 10px 5px 10px 5px;
          background-color: transparent;
          color: #000000;
          width: 300px
        }
        .gr_custom_header_1739128651 {
          /* customize your Goodreads header here*/
          border-bottom: 1px solid gray;
          width: 100%;
          margin-bottom: 5px;
          text-align: center;
          font-size: 120%
        }
        .gr_custom_each_container_1739128651 {
          /* customize each individual book container here */
          width: 100%;
          clear: both;
          margin-bottom: 10px;
          overflow: auto;
          padding-bottom: 4px;
        }
        .gr_custom_book_container_1739128651 {
          /* customize your book covers here */
          overflow: hidden;
          height: 60px;
            float: left;
            margin-right: 4px;
            width: 39px;
        }
        .gr_custom_author_1739128651 {
          /* customize your author names here */
          font-size: 10px;
        }
        .gr_custom_tags_1739128651 {
          display: none;
        }
        .gr_custom_rating_1739128651 {
          /* customize your rating stars here */
          display: none;
        }
      </style>

            <div id="gr_custom_widget_1739128651">
                <div class="gr_custom_container_1739128651">
          <h2 class="gr_custom_header_1739128651">
          <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/33517783-mikey-lyons?shelf=currently-reading&amp;utm_medium=api&amp;utm_source=custom_widget">Mikey&#39;s books</a>
          </h2>
            <div class="gr_custom_each_container_1739128651">
                <div class="gr_custom_book_container_1739128651">
                  <a title="Blindsight (Firefall, #1)" rel="nofollow" href="https://www.goodreads.com/review/show/7052884330?utm_medium=api&amp;utm_source=custom_widget"><img alt="Blindsight" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1386924412l/48484._SX50_.jpg" /></a>
                </div>
                <div class="gr_custom_rating_1739128651">
                  <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
                </div>
                <div class="gr_custom_title_1739128651">
                  <a rel="nofollow" href="https://www.goodreads.com/review/show/7052884330?utm_medium=api&amp;utm_source=custom_widget">Blindsight</a>
                </div>
                <div class="gr_custom_author_1739128651">
                  by <a rel="nofollow" href="https://www.goodreads.com/author/show/27167.Peter_Watts">Peter Watts</a>
                </div>
            </div>
            <div class="gr_custom_each_container_1739128651">
                <div class="gr_custom_book_container_1739128651">
                  <a title="The Mountain in the Sea" rel="nofollow" href="https://www.goodreads.com/review/show/7305847098?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Mountain in the Sea" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1648691567l/59808603._SY75_.jpg" /></a>
                </div>
                <div class="gr_custom_rating_1739128651">
                  <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
                </div>
                <div class="gr_custom_title_1739128651">
                  <a rel="nofollow" href="https://www.goodreads.com/review/show/7305847098?utm_medium=api&amp;utm_source=custom_widget">The Mountain in the Sea</a>
                </div>
                <div class="gr_custom_author_1739128651">
                  by <a rel="nofollow" href="https://www.goodreads.com/author/show/6447152.Ray_Nayler">Ray Nayler</a>
                </div>
            </div>
            <div class="gr_custom_each_container_1739128651">
                <div class="gr_custom_book_container_1739128651">
                  <a title="My Year of Meats Inscribed and Signed Edition" rel="nofollow" href="https://www.goodreads.com/review/show/7305848020?utm_medium=api&amp;utm_source=custom_widget"><img alt="My Year of Meats Inscribed and Signed Edition" border="0" src="https://s.gr-assets.com/assets/nophoto/book/50x75-a91bf249278a81aabab721ef782c4a74.png" /></a>
                </div>
                <div class="gr_custom_rating_1739128651">
                  <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
                </div>
                <div class="gr_custom_title_1739128651">
                  <a rel="nofollow" href="https://www.goodreads.com/review/show/7305848020?utm_medium=api&amp;utm_source=custom_widget">My Year of Meats Inscribed and Signed Edition</a>
                </div>
                <div class="gr_custom_author_1739128651">
                  by <a rel="nofollow" href="https://www.goodreads.com/author/show/7825.Ruth_Ozeki">Ruth Ozeki</a>
                </div>
            </div>
        <br style="clear: both"/>
        <center>
          <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://s.gr-assets.com/images/widget/widget_logo.gif" /></a>
        </center>
        <noscript>
          Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Mikey, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
        </noscript>
        </div>

            </div>
            <script src="https://www.goodreads.com/review/custom_widget/33517783.Mikey's%20bookshelf:%20currently-reading?cover_position=left&cover_size=small&num_books=5&order=a&shelf=currently-reading&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=none&widget_id=1739128651&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>

<h3 class="colorchanger">Read Recently</h3>

      <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <style type="text/css" media="screen">
        .gr_custom_container_1739129629 {
          /* customize your Goodreads widget container here*/
          border-radius:10px;
          padding: 10px 5px 10px 5px;
          background-color: transparent;
          color: #000000;
          width: 300px
        }
        .gr_custom_header_1739129629 {
          /* customize your Goodreads header here*/
          border-bottom: 1px solid gray;
          width: 100%;
          margin-bottom: 5px;
          text-align: center;
          font-size: 120%
        }
        .gr_custom_each_container_1739129629 {
          /* customize each individual book container here */
          width: 100%;
          clear: both;
          margin-bottom: 10px;
          overflow: auto;
          padding-bottom: 4px;
        }
        .gr_custom_book_container_1739129629 {
          /* customize your book covers here */
          overflow: hidden;
          height: 60px;
            float: left;
            margin-right: 4px;
            width: 39px;
        }
        .gr_custom_author_1739129629 {
          /* customize your author names here */
          font-size: 10px;
        }
        .gr_custom_tags_1739129629 {
          /* customize your tags here */
          font-size: 10px;
          color: gray;
        }
        .gr_custom_rating_1739129629 {
          /* customize your rating stars here */
          float: right;
        }
        .gr_custom_review_1739129629 {
            font-size: 12px;
            font-style: italic;
        }
      </style>

            <div id="gr_custom_widget_1739129629">
                <div class="gr_custom_container_1739129629">
          <h2 class="gr_custom_header_1739129629">
          <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/33517783-mikey-lyons?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget">Mikey&#39;s bookshelf: read</a>
          </h2>
            <div class="gr_custom_each_container_1739129629">
                <div class="gr_custom_book_container_1739129629">
                  <a title="Normal People" rel="nofollow" href="https://www.goodreads.com/review/show/7291321783?utm_medium=api&amp;utm_source=custom_widget"><img alt="Normal People" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1571423190l/41057294._SY75_.jpg" /></a>
                </div>
                <div class="gr_custom_rating_1739129629">
                  <span class=" staticStars notranslate" title="really liked it"><img alt="really liked it" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
                </div>
                <div class="gr_custom_title_1739129629">
                  <a rel="nofollow" href="https://www.goodreads.com/review/show/7291321783?utm_medium=api&amp;utm_source=custom_widget">Normal People</a>
                </div>
                <div class="gr_custom_author_1739129629">
                  by <a rel="nofollow" href="https://www.goodreads.com/author/show/15860970.Sally_Rooney">Sally Rooney</a>
                </div>
                <div class="gr_custom_review_1739129629">
                  I don’t know what to say really. I enjoyed this style of inner monologue, it matches my own. I was not a fan of the ending but I guess it served the purpose. Really made me think about the cycles and stories I’ve caught myself in.
                </div>
            </div>
            <div class="gr_custom_each_container_1739129629">
                <div class="gr_custom_book_container_1739129629">
                  <a title="The Year of Magical Thinking" rel="nofollow" href="https://www.goodreads.com/review/show/5207671690?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Year of Magical Thinking" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1576985564l/5496844._SY75_.jpg" /></a>
                </div>
                <div class="gr_custom_rating_1739129629">
                  <span class=" staticStars notranslate" title="it was amazing"><img alt="it was amazing" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /></span>
                </div>
                <div class="gr_custom_title_1739129629">
                  <a rel="nofollow" href="https://www.goodreads.com/review/show/5207671690?utm_medium=api&amp;utm_source=custom_widget">The Year of Magical Thinking</a>
                </div>
                <div class="gr_custom_author_1739129629">
                  by <a rel="nofollow" href="https://www.goodreads.com/author/show/238.Joan_Didion">Joan Didion</a>
                </div>
            </div>
        <br style="clear: both"/>
        <center>
          <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://s.gr-assets.com/images/widget/widget_logo.gif" /></a>
        </center>
        <noscript>
          Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Mikey, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
        </noscript>
        </div>

            </div>
            <script src="https://www.goodreads.com/review/custom_widget/33517783.Mikey's%20bookshelf:%20read?cover_position=left&cover_size=small&num_books=2&order=d&shelf=read&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=0&show_title=1&sort=date_read&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=1&widget_id=1739129629&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>

<h3 class="colorchanger">Reading Soon</h3>

        <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <style type="text/css" media="screen">
        .gr_custom_container_1739130001 {
          /* customize your Goodreads widget container here*/
          border-radius:10px;
          padding: 10px 5px 10px 5px;
          background-color: transparent;
          color: #000000;
          width: 300px
        }
        .gr_custom_header_1739130001 {
          /* customize your Goodreads header here*/
          width: 100%;
          margin-bottom: 5px;
          text-align: center;
          font-size: 120%
        }
        .gr_custom_each_container_1739130001 {
          /* customize each individual book container here */
          width: 100%;
          clear: both;
          margin-bottom: 10px;
          overflow: auto;
          padding-bottom: 4px;
        }
        .gr_custom_book_container_1739130001 {
          /* customize your book covers here */
          overflow: hidden;
          height: 60px;
            float: left;
            margin-right: 4px;
            width: 39px;
        }
        .gr_custom_author_1739130001 {
          /* customize your author names here */
          font-size: 10px;
        }
        .gr_custom_tags_1739130001 {
          /* customize your tags here */
          font-size: 10px;
          color: gray;
        }
        .gr_custom_rating_1739130001 {
          /* customize your rating stars here */
          float: right;
        }
      </style>

            <div id="gr_custom_widget_1739130001">
                <div class="gr_custom_container_1739130001">
          <h2 class="gr_custom_header_1739130001">
          <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/33517783-mikey-lyons?shelf=to-read&amp;utm_medium=api&amp;utm_source=custom_widget">Mikey&#39;s bookshelf: to-read</a>
          </h2>
        <br style="clear: both"/>
        <center>
          <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://s.gr-assets.com/images/widget/widget_logo.gif" /></a>
        </center>
        <noscript>
          Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Mikey, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
        </noscript>
        </div>

            </div>
            <script src="https://www.goodreads.com/review/custom_widget/33517783.Mikey's%20bookshelf:%20to-read?cover_position=left&cover_size=small&num_books=2&order=d&shelf=to-read&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=1&widget_id=1739130001&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>