<div class="column_post project">
    <div>
        {% if include.post.post_image and include.hide_image == null %}
            <img src="{{ include.post.post_image }}" />
        {% endif %}
        <a href="{{ include.post.url }}"><b style="color:black;">{{ include.post.title }}</b></a>
        {{ include.post.subject }}
        <div class="clear"></div>
    </div>
    <div class="more_info"><div class="left">Categories:&nbsp;{% include categories.html categories=include.post.tags %}</div><div class="right">Posted: {{ include.post.date | date: '%B %d, %Y' }}</div></div>
    <div class="clear"></div>
</div>
