<div class="stay-connected">
    <h1>Connect</h1>

    Thanks for reading! If you want to stay updated feel free to follow the <a href="https://mikelyons.org/feed.xml">RSS feed</a>, if you have any suggestions feel free to email me at <a href="mailto:mdl0394@gmail.com">mdl0394@gmail.com</a>

    <br/>
    <br/>

    You could also submit your email here, and I will personally email you whenever I post new things:

    <form name="email" netlify>
        <input type="text" placeholder="email@email.com" />
        <input type="submit" value="Signup" />
    </form>
</div>
