---
custom_title: Complicated
layout: home
---
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/complicated.css">

<div id="content_area">
    <div class="full_width center_margin post">
        {% if page.hide_header %}
        {% else %}
            <h2 id="post_title">{{ page.title }}</h2>
        {% endif %}

        <div id="closed-down-banner">
            Unfortunately, this application has been archived. It was unable to generate enough interest
            to pay for it's server costs. It was fun while it lasted!
        </div>

        {{ content }}
    </div>
</div>
