---
layout: home
---
<div id="content_area">
    <div class="full_width center_margin post">
        {% if page.hide_header %}
        {% else %}
            <h1 id="post_title">{{ page.title }}</h1>
        {% endif %}

        {% if page.intro %}
            {{ page.intro }}
            {% if page.hide_intro_cta %}
            {% else %}
            {% include stay_connected.html %}
            {% endif %}
        {% endif %}

        <h2>Table of Contents</h2>
        {% include toc.html html=content h_min=2 item_class="toc_item_%level%" %}

        {{ content }}
    </div>
</div>
