---
layout: home
---
<div id="content_area">
    <div class="full_width">
        <div
            class="two_thirds_width left">
            <h2 id="post_title">{{ page.title }}</h2>
            {{ content }}
        </div>
        <div
            class="column one_third_width right">
            <h2>
                Recent Other Posts
            </h2>
            {% assign featured_posts = site.posts | where: "featured" , true %}
            {% for featured_post in featured_posts %}
                {% include post_description.html post=featured_post hide_image=false %}
            {% endfor %}
        </div>
    </div>
</div>
