---
layout: home
---
<div id="content_area">
    <div class="full_width">
        <div
            class="column two_thirds_width left post">
            <h2 id="post_title">{{ page.title }}</h2>
            {{ content }}
        </div>
        <div
            class="column one_third_width right">
            <h2>
                Recent Posts
            </h2>
            {% assign recent_posts = site.posts | sort: 'date' | reverse %}
            {% for recent_post in recent_posts | limit:5 %}
                {% include post_description.html post=recent_post %}
            {% endfor %}
        </div>
    </div>
</div>
